@model IEnumerable<VJP_Entity.Event>

@{
    /**/

    /**/

    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Teacher</title>


</head>
<body bgcolor="white">
    <table border=1 width="100%" border=0 cellpadding="0" cellspacing="0">
        <tr style="height:10vh;background-color: rgb(160, 160, 160);">
            <td align="center" width="20%" align="center"> <strong><h1><a id="links" href="~/Teacher/Index">ExamCenter</a></h1> </strong></td>
            <td align="right" width="80%"><a id="links" href="~/LogOut/Index">LogOut</a></td>

        </tr>

        <tr style="height:85vh;">
            <td align="left" width="20%" style="background-color: rgb(160, 160, 160);">
                <a id="nav" href="~/Admin/Index">Home</a><br>
                <br>  <a id="nav" href="~/Admin/UserList">UserList</a><br> 
                <br>  <a id="nav" href="~/Admin/EventList">EventList</a><br>

                @*<br>  <a id="nav" href="~/Teacher/ViewResults">View Results</a><br>
        <br>   <a id="nav" href="~/Teacher/ViewReport">Report</a><br>*@


            </td>
            <td width="70%" align="center">
                <div>
                    @Html.ActionLink("Create Event", "CreateEvent")
                    UpComing Events
                    <br>

                    <table>
                        <tr align="center"><td>Id</td><td>Title</td><td>Start At</td><td>Closed At</td><td>Event Category</td><td>Project Category</td><td>Description</td></tr>


                        @foreach (var item in Model)
                        {

                            <tr align="center">
                                <td> @item.Id </td>
                                <td> @item.EventTitle </td>

                                <td> @item.StartingDate </td>
                                <td> @item.ClosingDate </td>
                                <td> @item.EventCategory.CategoryName </td>
                                <td> @item.ProjectCategory </td>
                                <td> @item.Description </td>
                            </tr>

                        }


                    </table>

                </div>

            </td>
        </tr>

    </table>
</body>
</html>
