@model IEnumerable<VJP_Entity.Event>

@{
    ViewBag.Title = "EventList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Event List</h2>

<p>
    @Html.ActionLink("Create New", "CreateEvent")
</p>
<table class="table" border="3">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClosingDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingDate)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "EditEvent", new { id = item.Id }) |*@
                @Html.ActionLink("Details", "EventDetails", new { id = item.Id })
            </td>
        </tr>
    }

</table>
