<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    @*@Styles.Render("~/Content/Site")*@

    @Styles.Render("~/Content/fontawesome")
    <link href="~/Content/css/style.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body style="background-color: #f3f7f7">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/Organization/Index">Virtual Judge Panel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Organization/Index">Dashboard</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown mr-3">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"> @Session["email"]</i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <a href="@Url.Action("ViewProfile", "Organization")" class="dropdown-item">
                                <i class="fa fa-user-circle">Profile</i>
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fa fa-toggle-on"></i> Settings
                            </a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a href="/Logout/Index" class="nav-link">
                            <i class="fa fa-user-times"></i> Logout
                        </a>
                    </li>


                </ul>
                @*<form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>*@
            </div>
        </div>
    </nav>

    <div>
        <br /><br />
        <br /><br />
        @RenderBody()
        <br /><br />
    </div>
</body>
</html>
